<div style="margin-top: 24px; float:right; width: 250px; margin-bottom: 30px;background-color: #fff;border: 1px solid #ccc;border-radius: 3px; box-shadow: 0 1px 3px rgba(0,0,0,0.075);">
  <h2 style="padding: 15px;font-size: 16px;border-bottom: 1px solid #ddd;"><strong>You’ll love GitHub</strong></h2>

  <ul style="padding: 0 15px 15px 15px; font-size: 14px;margin: 0px; list-style: none">
    <li style="box-sizing: border-box;display: list-item;text-align: -webkit-match-parent;"><strong>Unlimited</strong> collaborators</li>
    <li style="margin-top: 10px"><strong>Unlimited</strong> public repositories</li>

    <li style="margin: 15px -15px;border-top: 1px solid #eee;"></li>

    <li><svg aria-hidden="true" style="margin-top: 3px; margin-right:5px;color: #60b044; display: inline-block;vertical-align: text-top; fill: currentColor;" height="16" version="1.1" viewBox="0 0 12 16" width="12"><path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5z"></path></svg> Great communication</li>
    <li style="margin-top: 10px"><svg aria-hidden="true" style="margin-top: 3px; margin-right: 5px;color: #60b044; display: inline-block;vertical-align: text-top; fill: currentColor;;" height="16" version="1.1" viewBox="0 0 12 16" width="12"><path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5z"></path></svg> Frictionless development</li>
    <li style="margin-top: 10px"><svg aria-hidden="true" style="margin-top: 3px; margin-right: 5px;color: #60b044; display: inline-block;vertical-align: text-top; fill: currentColor;" height="16" version="1.1" viewBox="0 0 12 16" width="12"><path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5z"></path></svg> Open source community</li>
  </ul>
</div>
