
  <div style="margin-top: 33px; width: 420px;">
     <h2 style="font-family: 'Segoe UI';margin-bottom: 4px;font-weight: 300; font-size: 22px;">
      Create your personal account
     </h2>

    <p style="font-size: 13px; font-family: 'Arial'; margin-top: 1.5%"><b>Username</b></p>
    <input type="text" class="form-control" style="width: 420px">
    <p class="note" style="font-family: 'Segoe UI';color: #586069; font-size: 12px;min-height: 17px;margin: 4px 0 2px;">This will be your username. You can add the name of your organization later.</p>


    <p style="font-size: 13px; font-family: 'Arial'; margin-top: 1.2%"><b>Email Address</b></p>
    <input type="text" class="form-control" style="width: 420px">
    <p class="note" style="font-family: 'Segoe UI';color: #586069; font-size: 12px;min-height: 17px;margin: 4px 0 2px;">    We'll occasionally send updates about your account to this inbox. We'll never share your email address with anyone</p>

    <p style="font-size: 13px; font-family: 'Arial'; margin-top: 1.2%"><b>Password</b></p>
    <input type="text" class="form-control" style="width: 420px">
    <p class="note" style="font-family: 'Segoe UI';color: #586069; font-size: 12px;min-height: 17px;margin: 4px 0 2px;">Use at least one lowercase letter, one numeral, and seven characters.</p>

    <hr>

    <p style="font-size: 13px">By clicking on "Create an account" below, you are agreeing to the
      <a href="https://help.github.com/terms" target="_blank">Terms of Service</a>
      and the
      <a href="https://help.github.com/privacy" target="_blank">Privacy Policy</a>.
    </p>

    <hr>

    <button type="submit" class="btn btn-primary" id="signup_button" style="background-color:#28a745;background-image: linear-gradient(-180deg, #34d058 0%, #28a745 90%);border-color:#28a745;">Create an account</button>

  </div>

