<div class="row">
 <div style="margin-top: 33px">
  <h1 style="font-size: 273%">
  Join GitHub
  </h1>
   <h6 style="font-size: 150%; font-weight: 300;color: dimgrey; font-family: 'Segoe UI'">
     The best way to design, build, and ship software.
   </h6>

 <!--  <div class="btn-group">
     <button type="button" class="btn btn-default active btn-lg glyphicon glyphicon-user">Step 1:<br>
       <p style="font-size: small">Create personal account</p></button>
     <button type="button" class="btn btn-default disabled btn-lg glyphicon glyphicon-unchecked">Step 2:<br>
       <p style="font-size: small">Choose your plan</p></button>
     <button type="button" class="btn btn-default disabled btn-lg glyphicon glyphicon-cog">Step 3:<br>
       <p style="font-size: small">Tailor your experience</p></button>
   </div>
 -->

   <img src="assets/gitbutton.PNG"  style="height:65px; margin-top: 20px; width: 98%"/>
 </div>
</div>
