<div class="row" style="background-color:#262626;height: 68px">

  <div class="container-fluid">
    <br>
    <div class="col-lg-2 col-md-2 col-sm-2" style="color:#ffffff"></div>
    <div style="color: #586069">
    <img src="assets/gitPD.png" style="height:36px; width:36px; margin-left:35px;"/>
    <button type="button" class="btn btn-link" style="color: white;">Features</button>
    <button type="button" class="btn btn-link" style="color: white;">Business</button>
    <button type="button" class="btn btn-link" style="color: white;">Explore</button>
    <button type="button" class="btn btn-link" style="color: white;">Marketplace</button>
    <button type="button" class="btn btn-link" style="color: white;">Pricing</button>
    <button type="button" class="btn btn-link" style="color: white;margin-left: 100px; margin-right: 0px">Sign in</button>
    or
    <button type="button" class="btn btn-link" style="color: white; margin-left: 0px">Sign up</button>
    </div>
  </div>
</div>
